[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==5.1"
click = "*"
prompt-toolkit = "==2.0.4"

[dev-packages]
pytest = "*"
twine = "*"

[requires]
python_version = "3.6"

